body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px;
  border-radius: 24px;
  color: white;
  font-weight: bold;
  background-color: #b9592c;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.button:hover {
  background-color: #932706;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 440px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/la-chouette-agence-banniere.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/la-chouette-agence-banniere.jpg");
  background-attachment: scroll, fixed;
  background-size: cover, cover;
}

header p {
  font-size: 32px;
  color: #ff906b;
  padding: 25px 0 30px 0;
}

header a {
  text-transform: uppercase;
}

presentation-text {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  padding: 50px;
}

presentation-text h1 {
  font-size: 5rem;
  color: #b9592c;
  margin-bottom: 20px;
}

presentation-text h2 {
  font-size: 4rem;
  color: #b9592c;
  margin-bottom: 30px;
}

presentation-text h3 {
  font-size: 3rem;
  color: #b9592c;
  margin-bottom: 30px;
}

presentation-text p {
  text-align: left;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 50px;
}

presentation-text svg {
  height: 100px;
  margin-bottom: 30px;
}

presentation-text p.testimony_text {
  font-size: 2.2rem;
  margin: 10px 0;
  font-style: italic;
}

presentation-text p.testimony_signature {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

banner-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 550px;
  padding: 20px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/image-de-presentation.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/image-de-presentation.jpg");
  background-attachment: scroll, fixed;
  background-size: cover, cover;
}

banner-middle .our_goals {
  max-height: 500px;
  width: 640px;
  padding: 55px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  color: white;
}

banner-middle .our_goals .part1 {
  font-size: 2.2rem;
  color: #ff906b;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.4em;
}

banner-middle .our_goals .part2 {
  margin-bottom: 40px;
  font-size: 1.5rem;
  text-align: center;
}

presentation-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  width: 100%;
  background-image: url("../img/lines-h2-bg.png");
  background-size: auto;
  background-repeat: repeat;
}

presentation-cards h2 {
  font-size: 3rem;
  color: #b9592c;
  margin: 20px 0 50px 0;
}

presentation-cards cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100vw;
  max-width: 570px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

presentation-cards figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 270px;
  padding-bottom: 30px;
}

presentation-cards figure img {
  padding-bottom: 25px;
}

presentation-cards figure h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 25px;
}

presentation-cards figure p {
  padding-bottom: 20px;
  text-align: center;
}

banner-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 365px;
  padding: 20px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/la-chouette-agence-banniere.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/la-chouette-agence-banniere.jpg");
  background-attachment: scroll, fixed;
  background-size: cover, cover;
}

banner-bottom p {
  font-size: 2rem;
  color: #ff906b;
  padding: 0 0 20px 0;
}

banner-bottom a {
  text-transform: uppercase;
}

footer {
  width: 100%;
  background-color: #b9592c;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer svg {
  height: 40px;
  width: 40px;
  fill: white;
  opacity: 0.8;
  margin: 20px 40px 0 40px;
}

footer svg:hover {
  opacity: 1;
}

/* Page de contact */
main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

main.contact {
  max-width: 50%;
  min-width: 700px;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.contact h1 {
  font-size: 5rem;
  color: #b9592c;
  margin-bottom: 20px;
}

main.contact h2 {
  font-size: 4rem;
  color: #b9592c;
  margin-bottom: 30px;
}

main.contact h3 {
  font-size: 3rem;
  color: #b9592c;
  margin-bottom: 30px;
}

main.contact p {
  text-align: left;
  width: 100%;
  font-size: 2rem;
}

main.contact textarea {
  border: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

aside.contact {
  max-width: 50%;
  min-width: 650px;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside.contact img {
  width: 80%;
  margin: 0 auto 40px 0;
  height: auto;
}

aside.contact h2 {
  font-size: 4rem;
  color: #b9592c;
  margin-bottom: 30px;
}

aside.contact p {
  font-size: 2rem;
}
/*# sourceMappingURL=style.css.map */